body {
    color: #333;
    margin: 0;
    background: -webkit-radial-gradient(#fff, #bbb);
    background: -o-radial-gradient(#fff, #bbb);
    background: radial-gradient(#fff, #bbb);
}

.wrapper {
    text-align: center;
}

.video-wrapper {
    margin: 30px auto;
    box-sizing: border-box;
}

.controls {
    font-size: 20px;
    margin: 30px auto;
}

.controls button {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #888;
    background: #eee;
    cursor: pointer;
    transition-duration: 0.25s;
}

.controls button:hover {
    border-color: black;
    color: #000;
    background-color: #fff;
}

.credit-wrapper {
    font-size: 14px;
}

.credit-wrapper a {
    display: inline-block;
    text-decoration: none;
    margin: auto 10px;
    color: #331a8b;
}

.credit-wrapper a:hover {
    transition-duration: 0.5s;
    border-bottom: 1px solid #331a8b88;
}
